<h4>Please click the button to add restaurants to the favorite list</h4>

<ul>
  {{#each model.restaurants as |restaurant|}}
    {{restaurant-tile restaurant=restaurant}}
  {{/each}}
</ul>


<h3>Favorite Restaurant List:</h3>

<ul>
  <li>{{display-list}}</li>
  <br>
</ul>
