<h2>Welcome to Vinny's restaurant review</h2>

  {{#each model.restaurants as |restaurant|}}

    {{restaurant-popularity restaurant}} {{restaurant-tile restaurant=restaurant}}
  {{/each}}

{{new-restaurant saveRestaurant2="saveRestaurant3"}}

{{display-list}}
